window {
	font-family: "D2CodingLigature Nerd Font";
	font-size: 18px;
    margin: 0px;
    background-color: #0d0d0d;
    border-radius: 30px;
    border: 2px solid #96ff00;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #444444;
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0d0d0d;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #0d0d0d;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #96ff00;
} 

#entry:selected {
    background-color: #444444;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #444444;
    border-radius: 20px;
    outline: none;
}

image {
	margin-left: .25em;
	margin-right: .25em;
}
